# Lesson 10: Creating and Modifying Tables in PostgreSQL

This notebook covers essential SQL operations for database table management:
- Creating tables
- Inserting data
- Updating data
- Importing data from CSV files
- Working with LucidChart exported SQL

**Database Location:** `/workspaces/Fall2025-MS3083-Base_Template/databases/`

## Setup: Import Libraries and Connect to PostgreSQL

First, we'll import the necessary libraries and establish a connection to PostgreSQL.

**Note:** This notebook is configured to use the `student` PostgreSQL user that's set up in your dev container. If you need to use a different user, update the `DB_USER` variable in the cell below.

In [ ]:
# Import necessary libraries
import psycopg2  # PostgreSQL adapter for Python - allows direct database connections
import pandas as pd  # Data manipulation library - makes working with tables easy
from sqlalchemy import create_engine, text  # SQLAlchemy - modern database toolkit for Python
import os  # Operating system interface - for file path operations

# Database connection parameters
DB_NAME = "lesson10_demo"  # Name of the database we'll create/connect to
DB_USER = "student"  # PostgreSQL username (changed from "postgres" to match your system)
DB_PASSWORD = ""  # Password (empty for local connections in this dev container)
DB_HOST = "localhost"  # Server location (localhost = this machine)
DB_PORT = "5432"  # PostgreSQL default port

# Create connection string for SQLAlchemy
# Format: postgresql://username:password@host:port/database
connection_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create database if it doesn't exist
try:
    # Connect to the default 'postgres' database first (always exists)
    conn = psycopg2.connect(
        dbname="postgres",  # Connect to default database
        user=DB_USER,
        password=DB_PASSWORD,
        host=DB_HOST,
        port=DB_PORT
    )
    conn.autocommit = True  # Enable autocommit mode (changes happen immediately)
    cursor = conn.cursor()  # Create cursor object to execute SQL commands
    
    # Check if our target database already exists
    cursor.execute(f"SELECT 1 FROM pg_database WHERE datname = '{DB_NAME}'")
    exists = cursor.fetchone()  # Get the result (None if database doesn't exist)
    
    if not exists:
        # Database doesn't exist, so create it
        cursor.execute(f"CREATE DATABASE {DB_NAME}")
        print(f"Database '{DB_NAME}' created successfully!")
    else:
        # Database already exists
        print(f"Database '{DB_NAME}' already exists.")
    
    # Clean up: close cursor and connection
    cursor.close()
    conn.close()
except Exception as e:
    # If anything goes wrong, print the error message
    print(f"Error: {e}")

# Now connect to our new database using SQLAlchemy
# SQLAlchemy engine manages connections and provides modern database features
engine = create_engine(connection_string)
print(f"Connected to database: {DB_NAME}")

Database 'lesson10_demo' already exists.
Connected to database: lesson10_demo

## 1. Creating a Table from Scratch

In this section, we'll create a `students` table with various column types commonly used in databases.

**Key Concepts:**
- **SERIAL**: Auto-incrementing integer, perfect for ID columns
- **PRIMARY KEY**: Uniquely identifies each row
- **VARCHAR(n)**: Variable-length text up to n characters
- **NOT NULL**: Field must have a value
- **UNIQUE**: No two rows can have the same value
- **DATE/TIMESTAMP**: Store dates and times
- **DECIMAL(p,s)**: Numbers with exact precision (p=total digits, s=decimal places)
- **CHECK**: Validates data meets certain conditions
- **DEFAULT**: Provides automatic values if none specified
- **BOOLEAN**: True/False values

In [ ]:
# Define the SQL statement to create a students table
create_table_sql = """
CREATE TABLE IF NOT EXISTS students (
    student_id SERIAL PRIMARY KEY,                                    -- Auto-incrementing ID (1, 2, 3...)
    first_name VARCHAR(50) NOT NULL,                                  -- First name (required, max 50 chars)
    last_name VARCHAR(50) NOT NULL,                                   -- Last name (required, max 50 chars)
    email VARCHAR(100) UNIQUE,                                        -- Email (must be unique across all students)
    enrollment_date DATE DEFAULT CURRENT_DATE,                        -- Date enrolled (defaults to today)
    gpa DECIMAL(3,2) CHECK (gpa >= 0.0 AND gpa <= 4.0),              -- GPA (2 decimal places, must be 0.0-4.0)
    is_active BOOLEAN DEFAULT TRUE,                                   -- Active status (defaults to true)
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP                    -- When record was created
);
"""

# Execute the CREATE TABLE statement
with engine.connect() as connection:
    # text() wraps the SQL string so SQLAlchemy 2.0+ can execute it
    connection.execute(text(create_table_sql))
    connection.commit()  # Save the changes to the database
    print("Table 'students' created successfully!")

# Verify the table structure by querying PostgreSQL's information schema
query = """
SELECT column_name, data_type, character_maximum_length, is_nullable
FROM information_schema.columns
WHERE table_name = 'students'
ORDER BY ordinal_position;
"""

# Use pandas to read the query results into a DataFrame for easy viewing
df = pd.read_sql(query, engine)
print("\nTable structure:")
print(df)

Table 'students' created successfully!

Table structure:
       column_name                    data_type  character_maximum_length  \
0       student_id                      integer                       NaN
1       first_name            character varying                      50.0
2        last_name            character varying                      50.0
3            email            character varying                     100.0
4  enrollment_date                         date                       NaN
5              gpa                      numeric                       NaN
6        is_active                      boolean                       NaN
7       created_at  timestamp without time zone                       NaN

  is_nullable
0          NO
1          NO
2          NO
3         YES
4         YES
5         YES
6         YES
7         YES

## 2. Inserting Data into a Table

Now that we have a table, let's add data to it. There are several ways to insert data.

### Method 1: Single Row Insert

This method inserts one row at a time. It's useful when:
- Adding individual records
- Getting data from user input
- You need to insert records one at a time

**Syntax:** `INSERT INTO table_name (column1, column2, ...) VALUES (value1, value2, ...);`

In [ ]:
# Define SQL to insert a single student record
insert_single_sql = """
INSERT INTO students (first_name, last_name, email, gpa)
VALUES ('John', 'Doe', 'john.doe@example.com', 3.75);
"""
# Note: We don't specify student_id (auto-generated), enrollment_date, is_active, 
# or created_at (they use DEFAULT values)

# Execute the INSERT statement
with engine.connect() as connection:
    connection.execute(text(insert_single_sql))  # text() wraps the SQL string
    connection.commit()  # Commit the transaction to save the data
    print("Single row inserted successfully!")

# Query the table to see our inserted data
df = pd.read_sql("SELECT * FROM students;", engine)
print("\nCurrent data in students table:")
print(df)

Single row inserted successfully!

Current data in students table:
   student_id first_name last_name                 email enrollment_date  \
0           1       John       Doe  john.doe@example.com      2025-10-30

    gpa  is_active                 created_at
0  3.75       True 2025-10-30 02:50:15.348302

### Method 2: Multiple Row Insert

This method inserts multiple rows in a single SQL statement. It's more efficient than multiple single-row inserts because:
- It reduces the number of round trips to the database
- It's faster for bulk data insertion
- It uses fewer resources

**Syntax:** `INSERT INTO table_name (columns...) VALUES (row1...), (row2...), (row3...);`

In [ ]:
# Define SQL to insert multiple student records at once
insert_multiple_sql = """
INSERT INTO students (first_name, last_name, email, gpa) VALUES
    ('Jane', 'Smith', 'jane.smith@example.com', 3.90),        -- Student 1
    ('Bob', 'Johnson', 'bob.johnson@example.com', 3.45),      -- Student 2
    ('Alice', 'Williams', 'alice.williams@example.com', 3.85), -- Student 3
    ('Charlie', 'Brown', 'charlie.brown@example.com', 3.20);  -- Student 4
"""
# Each row is separated by a comma, last row ends with semicolon

# Execute the multi-row INSERT statement
with engine.connect() as connection:
    connection.execute(text(insert_multiple_sql))
    connection.commit()  # Save all rows at once
    print("Multiple rows inserted successfully!")

# Query all students, ordered by ID
df = pd.read_sql("SELECT * FROM students ORDER BY student_id;", engine)
print("\nAll students:")
print(df)

Multiple rows inserted successfully!

All students:
   student_id first_name last_name                       email  \
0           1       John       Doe        john.doe@example.com
1           2       Jane     Smith      jane.smith@example.com
2           3        Bob   Johnson     bob.johnson@example.com
3           4      Alice  Williams  alice.williams@example.com
4           5    Charlie     Brown   charlie.brown@example.com

  enrollment_date   gpa  is_active                 created_at
0      2025-10-30  3.75       True 2025-10-30 02:50:15.348302
1      2025-10-30  3.90       True 2025-10-30 02:50:15.361754
2      2025-10-30  3.45       True 2025-10-30 02:50:15.361754
3      2025-10-30  3.85       True 2025-10-30 02:50:15.361754
4      2025-10-30  3.20       True 2025-10-30 02:50:15.361754

## 3. Updating Data in a Table

The UPDATE statement modifies existing records in a table. **ALWAYS use a WHERE clause** to specify which rows to update, or you'll update ALL rows!

**Syntax:** `UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition;`

**Important:** 
- Without WHERE, ALL rows will be updated
- Use WHERE to target specific rows
- You can update multiple columns at once
- The UPDATE returns the number of rows affected

In [ ]:
# Define SQL to update a specific student's GPA
update_sql = """
UPDATE students                                  -- Table to update
SET gpa = 3.95                                   -- Set GPA to new value
WHERE email = 'john.doe@example.com';            -- Only update John Doe's record
"""
# The WHERE clause is crucial - without it, ALL students would get gpa = 3.95!

# Execute the UPDATE statement
with engine.connect() as connection:
    result = connection.execute(text(update_sql))
    connection.commit()  # Commit the changes
    # result.rowcount tells us how many rows were affected
    print(f"Updated {result.rowcount} row(s)")

# Query to verify the update worked
df = pd.read_sql("SELECT * FROM students WHERE email = 'john.doe@example.com';", engine)
print("\nUpdated student record:")
print(df)

Updated 1 row(s)

Updated student record:
   student_id first_name last_name                 email enrollment_date  \
0           1       John       Doe  john.doe@example.com      2025-10-30

    gpa  is_active                 created_at
0  3.95       True 2025-10-30 02:50:15.348302

### Update Multiple Records

You can update many rows at once using a WHERE clause that matches multiple records. This is useful for:
- Batch updates based on conditions
- Changing status flags for groups of records
- Applying business rules to multiple rows

The WHERE clause can use comparison operators: `=`, `<`, `>`, `<=`, `>=`, `!=`, `BETWEEN`, `IN`, etc.

In [ ]:
# Define SQL to update multiple students based on a condition
update_multiple_sql = """
UPDATE students                                  -- Table to update
SET is_active = FALSE                            -- Set is_active to FALSE
WHERE gpa < 3.50;                                -- For all students with GPA below 3.50
"""
# This will update Bob (3.45) and Charlie (3.20), but not Jane (3.90), Alice (3.85), or John (3.95)

# Execute the UPDATE statement
with engine.connect() as connection:
    result = connection.execute(text(update_multiple_sql))
    connection.commit()  # Commit the changes
    # rowcount tells us how many rows matched the WHERE condition
    print(f"Updated {result.rowcount} row(s)")

# Query all students to see the results of our batch update
df = pd.read_sql("SELECT * FROM students ORDER BY student_id;", engine)
print("\nAll students after update:")
print(df)

Updated 2 row(s)

All students after update:
   student_id first_name last_name                       email  \
0           1       John       Doe        john.doe@example.com
1           2       Jane     Smith      jane.smith@example.com
2           3        Bob   Johnson     bob.johnson@example.com
3           4      Alice  Williams  alice.williams@example.com
4           5    Charlie     Brown   charlie.brown@example.com

  enrollment_date   gpa  is_active                 created_at
0      2025-10-30  3.95       True 2025-10-30 02:50:15.348302
1      2025-10-30  3.90       True 2025-10-30 02:50:15.361754
2      2025-10-30  3.45      False 2025-10-30 02:50:15.361754
3      2025-10-30  3.85       True 2025-10-30 02:50:15.361754
4      2025-10-30  3.20      False 2025-10-30 02:50:15.361754

## 4. Uploading Data from a CSV File

CSV (Comma-Separated Values) files are a common format for storing tabular data. We can easily import CSV data into PostgreSQL tables using pandas.

**Process:**
1. Read the CSV file using pandas (`pd.read_csv()`)
2. Create a table structure (or let pandas create it automatically)
3. Use pandas' `to_sql()` method to upload the data

**Benefits:**
- Fast bulk data loading
- Handles data type conversion automatically
- Works with large datasets
- Can update existing tables or create new ones

In [ ]:
# First, let's create a sample CSV file for demonstration
import csv

# Define the path where we'll save the CSV file
csv_file_path = '/workspaces/Fall2025-MS3083-Base_Template/databases/sample_courses.csv'

# Create sample course data as a list of lists
# First row contains column headers, remaining rows contain data
course_data = [
    ['course_code', 'course_name', 'credits', 'department'],                  # Header row
    ['CS101', 'Introduction to Computer Science', 3, 'Computer Science'],     # Data row 1
    ['MATH201', 'Calculus I', 4, 'Mathematics'],                              # Data row 2
    ['ENG101', 'English Composition', 3, 'English'],                          # Data row 3
    ['PHYS101', 'General Physics', 4, 'Physics'],                             # Data row 4
    ['HIST201', 'World History', 3, 'History']                                # Data row 5
]

# Write the data to a CSV file
with open(csv_file_path, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)  # Create a CSV writer object
    writer.writerows(course_data)  # Write all rows at once

print(f"Sample CSV file created at: {csv_file_path}")

# Read the CSV file using pandas to verify it was created correctly
df_csv = pd.read_csv(csv_file_path)
print("\nCSV file contents:")
print(df_csv)

Sample CSV file created at: /workspaces/Fall2025-MS3083-Base_Template/databases/sample_courses.csv

CSV file contents:
  course_code                       course_name  credits        department
0       CS101  Introduction to Computer Science        3  Computer Science
1     MATH201                        Calculus I        4       Mathematics
2      ENG101               English Composition        3           English
3     PHYS101                   General Physics        4           Physics
4     HIST201                     World History        3           History

### Upload CSV Data to PostgreSQL Table

Now we'll create a table and import the CSV data into it.

In [ ]:
# Define the table structure for courses
create_courses_table = """
CREATE TABLE IF NOT EXISTS courses (
    course_code VARCHAR(20) PRIMARY KEY,          -- Course code (e.g., CS101) - unique identifier
    course_name VARCHAR(200) NOT NULL,            -- Full course name (required)
    credits INTEGER CHECK (credits > 0),          -- Number of credits (must be positive)
    department VARCHAR(100) NOT NULL              -- Department offering the course
);
"""

# Create the table in the database
with engine.connect() as connection:
    connection.execute(text(create_courses_table))
    connection.commit()
    print("Table 'courses' created successfully!")

# Now upload the CSV data to the table using pandas
# if_exists='append' means: add to existing data (don't replace or fail)
# index=False means: don't insert the DataFrame index as a column
df_csv.to_sql('courses', engine, if_exists='append', index=False)
print(f"Uploaded {len(df_csv)} rows from CSV to 'courses' table")

# Verify the data was uploaded correctly
df_verify = pd.read_sql("SELECT * FROM courses ORDER BY course_code;", engine)
print("\nData in courses table:")
print(df_verify)

Table 'courses' created successfully!
Uploaded 5 rows from CSV to 'courses' table

Data in courses table:
  course_code                       course_name  credits        department
0       CS101  Introduction to Computer Science        3  Computer Science
1      ENG101               English Composition        3           English
2     HIST201                     World History        3           History
3     MATH201                        Calculus I        4       Mathematics
4     PHYS101                   General Physics        4           Physics

### Upload Your Own CSV File

Use this cell to upload data from your own CSV file. This is a template you can customize for any CSV file you want to import.

**Instructions:**
1. Update the `csv_file_path` variable with the path to your CSV file
2. Update the `table_name` variable with your desired table name
3. Run the cell to create the table and import the data

**Options for `if_exists` parameter:**
- `'fail'`: Raise an error if table already exists (safest)
- `'replace'`: Drop the existing table and create a new one (destructive!)
- `'append'`: Add data to existing table (most common for data loading)

In [ ]:
# ===== CUSTOMIZE THESE VARIABLES =====
csv_file_path = '/workspaces/Fall2025-MS3083-Base_Template/databases/your_file.csv'  # Path to your CSV file
table_name = 'your_table_name'  # Name for the table in PostgreSQL
# ======================================

# Read the CSV file into a pandas DataFrame
df_custom = pd.read_csv(csv_file_path)
print(f"CSV file loaded: {len(df_custom)} rows")
print("\nFirst few rows:")
print(df_custom.head())  # Show first 5 rows to verify data

# Upload the DataFrame to PostgreSQL
# if_exists options: 'fail', 'replace', 'append'
# 'replace' will drop the existing table and create a new one
df_custom.to_sql(table_name, engine, if_exists='replace', index=False)
print(f"\nData uploaded to table '{table_name}'")

# Verify the upload by querying the first 10 rows
df_verify = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 10;", engine)
print(f"\nFirst 10 rows from '{table_name}' table:")
print(df_verify)

FileNotFoundError: [Errno 2] No such file or directory: '/workspaces/Fall2025-MS3083-Base_Template/databases/your_file.csv'

## 5. Paste LucidChart Exported SQL

LucidChart is a popular tool for designing database schemas visually. It can export your database design as SQL code, which you can then paste here to create all your tables at once.

**Instructions:**
1. In LucidChart, design your database schema (tables, columns, relationships)
2. Export your schema: File → Export → SQL (PostgreSQL format recommended)
3. Copy the exported SQL code
4. Paste it in the `lucidchart_sql` variable below (between the triple quotes)
5. Run the cell to create all tables

**What this cell does:**
- Splits the SQL by semicolons to execute each statement separately
- Skips comment lines (starting with --)
- Creates all tables defined in your LucidChart diagram
- Shows you a list of all tables created

In [ ]:
# ===== PASTE YOUR LUCIDCHART SQL CODE BELOW =====
lucidchart_sql = """
-- Paste your LucidChart exported SQL here
-- Example:
-- CREATE TABLE departments (
--     dept_id SERIAL PRIMARY KEY,
--     dept_name VARCHAR(100) NOT NULL
-- );
-- 
-- CREATE TABLE employees (
--     emp_id SERIAL PRIMARY KEY,
--     first_name VARCHAR(50),
--     last_name VARCHAR(50),
--     dept_id INTEGER REFERENCES departments(dept_id)
-- );
"""
# ==================================================

# Execute the SQL code
try:
    with engine.connect() as connection:
        # Split the SQL by semicolons to get individual statements
        statements = [stmt.strip() for stmt in lucidchart_sql.split(';') if stmt.strip()]
        
        # Execute each statement one at a time
        for statement in statements:
            # Skip empty statements and comments
            if statement and not statement.startswith('--'):
                connection.execute(text(statement))  # Execute the CREATE TABLE statement
        
        connection.commit()  # Commit all changes at once
        print("LucidChart SQL executed successfully!")
    
    # Query PostgreSQL's system tables to show all user-created tables
    tables_query = """
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public'    -- 'public' is the default schema
    ORDER BY table_name;
    """
    df_tables = pd.read_sql(tables_query, engine)
    print("\nAll tables in the database:")
    print(df_tables)
    
except Exception as e:
    # If anything goes wrong, show the error message
    print(f"Error executing SQL: {e}")
    print("\nMake sure to paste valid SQL code in the lucidchart_sql variable above.")

## 6. Additional Operations

### Drop a Table (Use with Caution!)

The DROP TABLE command permanently deletes a table and **ALL its data**. This action cannot be undone!

**When to use DROP TABLE:**
- Removing test tables
- Cleaning up old/unused tables
- Starting fresh with a new table structure

**Safety tips:**
- ALWAYS double-check the table name before executing
- Use `DROP TABLE IF EXISTS` to avoid errors if table doesn't exist
- Consider backing up data before dropping tables
- This code is commented out by default to prevent accidents

In [ ]:
# Example: Drop a table (be very careful with this!)
drop_table_sql = """
-- DROP TABLE IF EXISTS table_name;  -- Replace 'table_name' with actual table to drop
"""
# IF EXISTS prevents errors if the table doesn't exist
# Without IF EXISTS, you'd get an error if the table isn't there

# The code below is commented out for safety
# To use it:
# 1. Replace 'table_name' in the SQL above with your actual table name
# 2. Uncomment the lines below by removing the # symbols
# 3. Run the cell

# with engine.connect() as connection:
#     connection.execute(text(drop_table_sql))
#     connection.commit()
#     print("Table dropped successfully!")

print("To drop a table, uncomment the code above and specify the table name.")
print("WARNING: Dropping a table permanently deletes all data. This cannot be undone!")